{
  "$schema": "../../node_modules/wrangler/config-schema.json",
  "name": "linketry-demo-api",
  "pages_build_output_dir": "./public",
  "compatibility_date": "2026-07-16",
  "services": [
    {
      "binding": "DEMO_API",
      "service": "linketry-demo-worker"
    }
  ]
}
